<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffI - Administración</title>
    <link href="/estilos.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
</head>

<body>
    <header>
        <div id="header-titulo">
            <a th:href="@{/}">
                <h1>BuffI</h1>
            </a>
            <p>Web fitness destinada a compartir rutinas para gimnasio</p>
        </div>
    </header>

    <!-- CONTENEDOR PRINCIPAL -->
    <div id="container">
         <form th:action="@{/admin/administracion}" method="get">
         	<div class="flex">
         		<div class="mb-3" style="width: 30%;">
         			<input name="fechaantes" type="date" class="form-control" placeholder="Fecha anterior..." aria-label="Recipient's username" aria-describedby="button-addon2" required>     	     			
         		</div>
         		<div class="input-group mb-3" style="width: 30%; margin-left: 20px;">
      				<input name="fechadespues" type="date" class="form-control" placeholder="Fecha anterior..." aria-label="Recipient's username" aria-describedby="button-addon2" required>
	        		<button class="btn btn-primary" type="submit" id="button-addon2">Filtrar</button>      		
         		</div>  
         	</div>	           		
        </form>
        <main id="container-info">
            <table id="tabla-admin" class="table table-dark table-striped">
                <th>Usuario</th>
                <th>Fecha de registro</th>
                <th>Rutinas</th>
                <th>Acciones</th>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombre}" th:classappend="${usuario.rol.nombre.equals('ROLE_ADMIN')} ? admin-font"></td>
                    <td th:text="${usuario.fcreacion.toString()}"></td>
                    <td th:text="${usuario.rutinas.size()}"></td>
                    <td><a th:href="@{/admin/ver-rutinas(idusuario=${usuario.idusuario})}">Ver rutinas</a> | <a th:href="@{/admin/borrar-usuario(idusuario=${usuario.idusuario})}">Borrar</a></td>
                </tr>
            </table>
        </main>
    </div>
</body>