<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffI - Mis rutinas</title>
    <link href="/estilos.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a th:href="@{/buscar-rutinas}">Rutinas</a></li>
                <li><a th:href="@{/user/mis-rutinas}">Mis rutinas</a></li>
                <li><a th:href="@{/user/mi-perfil}">Mi perfil</a></li>
                <li><a th:href="@{/contacto}">Contacto</a></li>
            </ul>
        </nav>
        <div id="header-titulo">
            <h1>BuffI</h1>
            <p>Web fitness destinada a compartir rutinas para gimnasio</p>
        </div>
    </header>

    <div class="btn-nueva-rutina">
        <a th:href="@{/user/nueva-rutina}">
            <img src="/images/anadir.png">
        </a>
    </div>

    <!-- CONTENEDOR PRINCIPAL -->
    <div id="container">
        <div class="flex space-between align-items-baseline">
            <select class="form-select" aria-label="Default select example" style="width: 20%;">
                <option selected>Filtrar...</option>
                <option value="1">Mas recientes</option>
                <option value="2">Populares</option>
                <option value="3">Subiendo</option>
            </select>
            <div>
                <p class="strong inline">Rutinas</p>
                <p class="inline num-rutinas" th:text="${rutinas.size()}">30</p>
            </div>
        </div>
        <main class="container-flex">

            <!-- MIS RUTINAS -->
            <div th:each="rutina : ${rutinas}" class="item-rutina">
                <div class="info-item-rutina">
                    <h2 th:text="${rutina.nombre}">Brazo y pecho</h2>
                </div>
                <div class="flex space-between">
                    <a th:href="@{/user/modificar-rutina(idrutina=${rutina.idrutina})}"><img class="img-pencil" src="/images/pencil.png"></a>
                    <a th:href="@{/user/eliminar-rutina(idrutina=${rutina.idrutina})}"><img class="img-remove" src="/images/remove.png"></a>
                </div>
                <div class="item-rutina-other-info">
                    <p th:text="${rutina.etiqueta.nombre}" class="item-rutina-etiqueta" th:style="'background-color: ' + ${rutina.etiqueta.color} + ';'">Tren superior</p>
                    <p th:text="${rutina.fcreacion}" class="item-rutina-fecha">02-02-2021</p>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>

</html>