<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffI - Perfil</title>
    <link href="/estilos.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a th:href="@{/buscar-rutinas}">Rutinas</a></li>
                <li><a th:href="@{/user/mis-rutinas}">Mis rutinas</a></li>
                <li><a th:href="@{/user/mi-perfil}">Mi perfil</a></li>
                <li><a th:href="@{/contacto}">Contacto</a></li>
            </ul>
        </nav>
        <div id="header-titulo">
            <h1>BuffI</h1>
            <p>Web fitness destinada a compartir rutinas para gimnasio</p>
        </div>
    </header>

    <!-- DATOS DEL PERFIL -->
    <main id="form-detalle-rutina">
        <div class="mb-3 text-align">
            <h1>Mi perfil</h1>
            <hr>
        </div>
        <div class="flex space-between">
            <div class="mb-3 flex flex-column flex-center" style="width: 50%;">
                <label for="basic-url" class="form-label">E-Mail</label>
                <input th:value="${usuario.email}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="ejemplo@hotmail.com" required>
                <label for="basic-url" class="form-label">Nombre de usuario</label>
                <input th:value="${usuario.username}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="ElMasCachas98" required>
                <label for="basic-url" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="12-12-2021">
                <label for="basic-url" class="form-label">Localidad</label>
                <input th:text="${usuario.localidad}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Gijón" required>
            </div>
            <div class="mb-3 flex flex-column flex-center">
                <img src="/images/usuario.png">
            </div>
        </div>
        <hr>
        <div class="flex space-between">
            <button type="button" class="btn btn-danger" th:action="@{/mis-rutinas}">Cancelar</button>
            <button type="button" class="btn btn-primary">Modificar</button>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>

</html>