<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffI - Perfil</title>
    <link href="/estilos.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
</head>

<body>
  	<nav id="barra-navegacion" class="flex space-between">
     	<div class="img-logo">
        </div>
       	<ul class="navigation">
           	<li><a th:href="@{/}">Rutinas</a></li>
           	<li><a th:href="@{/user/mis-rutinas}" class="italic">Mis rutinas</a></li>
           	<li><a th:href="@{/user/mi-perfil}">Mi perfil</a></li>
           	<li><a th:href="@{/informacion}">Información</a></li>
       	</ul>
        <div class="div-info-log">
	       	<div sec:authorize="hasRole('ROLE_USER')">
	          	<p><span th:text="${username}" class="strong">Sagri98</span> | <a th:href="@{/logout}">Salir</a></p>
	       	</div>
	      	<div sec:authorize="hasRole('ROLE_ADMIN')">
	       		<p><span th:text="${username}" class="strong">Sagri98</span> | <a th:href="@{/admin/administracion}">Administración</a> | <a th:href="@{/logout}">Salir</a></p>
	       	</div>
         	<div th:if="${username} == anonymousUser">
            	<p><a th:href="@{/login}">Iniciar sesión</a> | <a th:href="@{/sign-up}">Registrarse</a></p>
          	</div>
		</div>
   	</nav>
   	<div id="header-titulo">
       	<a th:href="@{/}">
      		<h1>BuffI</h1>
        </a>
    	<p>Web fitness destinada a compartir rutinas para gimnasio</p>
    </div>

    <!-- DATOS DEL PERFIL -->
    <main id="form-detalle-rutina">
    	<form th:action="@{/user/modificar-perfil}" method="post">
    		<div class="mb-3 text-align">
	            <h1>Mi perfil</h1>
	            <hr>
	        </div>
	        <div class="flex space-between">
	            <div class="mb-3 flex flex-column flex-center" style="width: 50%;">
	            	<input th:value="${usuario.idusuario}" name="idusuario" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="1" required hidden>        
	                <label for="basic-url" class="form-label">E-Mail</label>
	                <input th:maxlength="40" th:value="${usuario.email}" name="email" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="ejemplo@hotmail.com" required>
	                <label for="basic-url" class="form-label">Nombre de usuario</label>
	                <input th:maxlength="20" th:value="${usuario.username}" name="username" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="ElMasCachas98" disabled>
	                <label for="basic-url" class="form-label">Fecha de nacimiento</label>
	                <input th:value="${usuario.fnacimientostring}" name="fnacimiento" type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="12-12-2021">
	                <label for="basic-url" class="form-label">Localidad</label>
	                <input th:maxlength="50" th:value="${usuario.localidad}" name="localidad" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Gijón">
	            </div>
	            <div class="mb-3 flex flex-column flex-center">
	                <img src="/images/usuario.png">
	            </div>
	        </div>
	        <hr>
	        <div class="flex space-between">
		        <a th:href="@{/user/eliminar-cuenta}" class="btn btn-danger">Borrar cuenta</a>
		        <button type="submit" class="btn btn-primary">Modificar</button>
	        </div>
    	</form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>

</html>