<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffI - Inicio</title>
    <link href="estilos.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
</head>

<body id="background-form">
    <header>
        <div id="header-titulo">
            <a th:href="@{/}">
                <h1>BuffI</h1>
            </a>
            <p>Web fitness destinada a compartir rutinas para gimnasio</p>
        </div>
    </header>
    <main class="form-signin container-flex">
        <form th:action="@{/login}" method="post" class="form-sign-in">
            <img src="images/buffy_logo.png" alt="">
            <h1 class="h3 mb-3 text-align strong">¡Bienvenido!</h1>

            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Nombre..." required>
                <label for="floatingInput">Nombre de usuario</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Contraseña..." required>
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recuérdame...
                </label>
            </div>
            <div class="form-floating" style="margin: 10px 0 10px 0;">
                <a th:href="@{/sign-up}">¿No tienes una cuenta? Creala ahora mismo.</a>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
            <div class="flex space-between">
                <p class="mt-5 mb-3 text-muted inline">&copy; 2021</p>
                <p class="mt-5 mb-3 text-muted inline">Sergio Acebal Menéndez</p>
            </div>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>

</html>